body{
    font-family: Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
    margin: 20px;
}
h1 {
    color: black;
    margin-bottom: 30px;
}
.product-box{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 8px;
}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-box h2 {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}
.description {
    color: dimgray;
    font-weight: bold;
    margin-bottom: 15px;
}
.price {
    color: red;
    font-weight: bold;
}
button {
    background-color: blue;
    font-weight: bold;
}
